* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: black;
}

p, i, span {
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:white;
}

/* Flex helpers */
.flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.flex.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex.justified-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.flex.justified-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.flex.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex.centered {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex.start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.flex.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex.align-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-child.stretch {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.flex-child.end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.flex-child.start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.flex-child.center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.flex-child.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#clock {
    min-width: 300px;
}
